@import 'tailwindcss';
@import "./styles/colors.css";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background-color: var(--color-deepspaceblue);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  
  min-height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Header Styling */
header {
  width: 100%;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .text-xl {
  font-size: 1.6rem;
  font-weight: 700;
}

header button {
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 1rem;
  border: none;
}

header button:hover {
}

/* Content Styling */
.Content {
  margin: auto;
  max-width: 1200px; /* Adjust max-width for larger screens */
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}

.Content h1 {
  font-size: 2rem;
}

.Content p {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

/* Calendar Select */
#calendarSelect {
  width: 200px;
}
#calendarSelect::after {
  content: '▼';
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  color: white;
  pointer-events: none; /* So the arrow doesn't interfere with clicks */
}